<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Steak And ADA - Guardians of Cardano</h2>
		<p><a href=https://iso.sundaeswap.finance/#/reverse-pools><img src=/ada/assets/images/sundae_icon.png width=50><p>AIRDROP ALERT - SUNDAESWAP RISO POOL FEB 19-24</a>
		<p>Hi! <br /> You st₳ke it, we produce it!<br /> Our Stake Pool Ticker is <br /><a href="https://pooltool.io/pool/f76e3a1104a9d816a67d5826a155c9e2979a839d0d944346d47e33ab/blocks"><div class="input">ST3AK<p><p>Pool ID: f76e3a1104a9d816a67d5826a155c9e2979a839d0d944346d47e33ab</div></a></p>
		<span id=space_msg></span>
		<ul class="actions">
			<li><a class="button special icon fa-copy" id="btn_copy" data-clipboard-text="f76e3a1104a9d816a67d5826a155c9e2979a839d0d944346d47e33ab"><span>Copy Pool ID</span></a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
