<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>Steak And ADA - Cardano Stake Pool</h2>
		<p>Hi! <br /> You stake it, we produce it!<br /> Our Ticker Address is <br /><a href="https://pooltool.io/pool/bbd7c079eeb2d60a5c625b1e2787b088b651ccbdccac5cc93e64d63205a3251b"><div class="input">ST3AK</div></a></p>
		<span id=space_msg>Computing...</span>	
		<ul class="actions">
			<li><a class="button special icon fa-copy" id="btn_copy" data-clipboard-text="ST3AK"><span>Copy Address</span></a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
