<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Thank you for your delegation</h2>
			<p>We look forward to steaking many new adas for you.</p>
		</header>
		<ul class="actions vertical">
			<li><a class="button special icon fa-copy" id="btn_copy" data-clipboard-text="ST3AK"><span>Copy Address</span></a></li>
			<li><a href="#" class="button fit">Learn More</a></li>
			<li><a href="https://pooltool.io/pool/bbd7c079eeb2d60a5c625b1e2787b088b651ccbdccac5cc93e64d63205a3251b" class="button fit" target="_blank">See pooltool</a></li>
		</ul>
	</div>
</section>
