<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Thank you for your delegation</h2>
			<p>We look forward to minting many new ADA lovelaces for you.</p>
		</header>
		<ul class="actions vertical">
			<li><a class="button special icon fa-copy" id="btn_copy" data-clipboard-text="f76e3a1104a9d816a67d5826a155c9e2979a839d0d944346d47e33ab"><span>Copy Pool ID</span></a></li>
			<li><a href="#" class="button fit">Learn More</a></li>
			<li><a href="https://pooltool.io/pool/f76e3a1104a9d816a67d5826a155c9e2979a839d0d944346d47e33ab/blocks" class="button fit" target="_blank">See pooltool</a></li>
		</ul>
	</div>
</section>
