<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" {% if page.layout == 'default' %} class="alt" {% endif %}>
		<h1><a href="{{ "" | absolute_url }}/">Steak.and.ADA - easy ADA staking</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>Menu</span></a>
					<div id="menu">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="/ada/2020/07/29/HowToStakeAdaLite.html" target="_blank">Learn to Stake with Ledger Nano S or X</a></li>
							<li><a href="/ada/2020/07/29/How-To-Stake-Ada-Lite-Trezor-Model-T.html" target="_blank">Learn to Stake with Trezor Model T</a></li>
							<li><a href="/ada/2020/07/28/HowToStakeDaedalus.html">Learn to Stake with Daedalus</a></li>
							<li><a href="https://pooltool.io/pool/f76e3a1104a9d816a67d5826a155c9e2979a839d0d944346d47e33ab/blocks" target="_blank">Visit us on pooltool</a></li>
							<li><a href="https://steakandbake.github.io" target="_blank">Tezos Baking Sister Site</a></li>
							<li><a href="" target="">Ethereum Sister Site, Coming Soon</a></li>
							<!-- Omit
							{% for page in site.pages %} {% if page.layout == "default" %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %} {% for page in site.pages %} {% if page.layout == "page" %}
							<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
							{% endif %} {% endfor %}
							 -->
						</ul>
					</div>
				</li>
			</ul>
		</nav>
		
	</header>
